@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Stick+No+Bills:wght@200..800&display=swap");

html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

:root {
	--background-green: #35736e;
	--background-white: #eff2f1;
	--background-yellow: #ffd748;
	--font-light: #cacaca;
}

body {
	font-family: "Poppins", serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
}

a {
	text-decoration: none;
	color: unset;
}

li {
	list-style: none;
}

img {
	display: inline-block;
}

header {
	background-color: var(--background-green);
	padding: 9px 35px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}

.logo {
	font-family: "Stick No Bills", serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
	font-size: 55px;
	line-height: 82.23px;
	color: var(--background-yellow);
}

.nav-right {
	display: flex;
	align-items: center;
	gap: 110px;
}

.nav-links {
	display: flex;
	gap: 34px;
	color: #ffffff;
}

.nav-links a:hover {
	border-bottom: 5px solid var(--background-yellow);
}

.nav-icons {
	display: flex;
	gap: 5px;
	justify-content: space-between;
}

/* Hero part */

.hero-container {
	background-color: var(--background-green);
	padding: 0 99px;
	height: 574px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero-content h1 {
	font-family: "DM Serif Text", serif;
	color: #ffffff;
	font-weight: 400;
	font-size: 55px;
	line-height: 75.41px;

	text-shadow: 0 4px 4px #00000040;
}

.button {
	border-radius: 30px;
	padding: 10px 30px;
	display: inline-block;
	width: 160px;
	text-align: center;
}

.shop-now {
	background-color: var(--background-yellow);
}

.explore-hero {
	border: 1px solid #ffffff;
	margin-left: 24px;
}

.hero-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 73px;
	margin-bottom: 80px;
}

.couch-hero {
	z-index: 2;
	position: relative;
}

.dotted-hero {
	position: absolute;
	top: 188px;
	left: 1174px;
	z-index: 1;
}

/* typography */

.short-heading {
	font-family: Poppins;
	font-size: 34px;
	font-weight: 600;
	line-height: 41px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
}

.product-details-font {
	font-family: Inter;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	color: #6a6a6a;
}

/* main explore section */

.explore-product-container {
	display: flex;
	padding: 99px;
	gap: 120px;
}

.explore-heading {
	font-family: "Poppins", serif;
	font-size: 34px;
	font-weight: 600;
	line-height: 51px;
	text-align: left;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
}

.explore-explore {
	background-color: var(--background-green);
	color: #ffffff;
	margin-top: 12px;
}

.explore-cards {
	display: flex;
	gap: 42px;
}

.explore-card {
	background-color: #35736e1a;
	position: relative;

	width: 296px;
	padding: 46px;
	height: 288.86px;
	border-radius: 20px;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;

	box-shadow: 3px 5px 4px 0px #00000040;
}

.product-img-1,
.product-img-2,
.product-img-3 {
	position: absolute;
	bottom: 114px;
}

.name {
	font-family: "Poppins", serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
}

.price {
	font-family: "Inter", serif;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
}
